doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet" href="../icomoon/style.css")
		link(rel="stylesheet" href="../dist/all.css")
	body 
		.navbar
			.left-side
				.logo
					span.icon-logo
				a(class="find-hotel" href="#") Find A Hotel
					span.triangle
				a(class="language" href="#") English
					span.triangle
			.right-side 
				a(href="#") STORY 
				a(href="#") EXPERIENCE
				span.icon-member
				span.icon-cart
				span.icon-search
				.circle
					.inside
						.square
						.square
					.inside
						.square
						.square
		.container 
			a.breadcrumb 
				span Back
				span New Arrival
			.wrap 
				.left-section
					.product-img
						img(src="../img/vase.jpg" alt="")
						.icon-zoom
					.page
						p PREV
						span NEXT
						span.page-num 0 / 6
				.right-section
					.info
						.info-favor
							span.icon-favorite-line
								span.path1
								span.path2
							span Wishlist 
							span.icon-share
						.info-content
							span.category Landcape series
							h1 The Wizard of Oz 
							p.info-cpntent-text Lorem ipsum dolor sit amet consectetur adipisicing 	elit. Expedita, doloremque. Recusandae culpa nam enim 	ipsa. Eum ea eligendi 
							p.info-member-price Member price
							p.info-content-price NT $44,900
								span NT $45,900
						.info-size 
							.info-size-color 
								img(src="../img/color-green.jpg" alt="")
								img(src="../img/color-blue.jpg" alt="")
								img(src="../img/color-purple.jpg" alt="")
								img(src="../img/color-red.jpg" alt="")
							.info-size-group 
								div S
								div M
								div L
								div XL
						.info-count 
							p Quantity
							.info-count-group
								.count-btn
									.icon-less
								.count-num 1
								.count-btn
									.icon-plus
						.info-btn 
							a(href="#") Gift Service
							a(href="#") ADD TO CART
						.info-more-accordion
							.accrofion-group.promotions
								div 
									.icon-tag
									p Promotions 
								div
									.icon-cross
							.accrofion-group 
								div 
									p Delivary Restrictions 
								div
									.icon-cross
							.accrofion-group
								div 
									p Precautions
								div
									.icon-cross
			.article
				.article-menu
					p  Introduction  
					//- span
					p  Specification 
					//- span
					p Related Products
				.intro 
					.intro-header
						h2 Introduction
						p Lorem ipsum dolor sit amet.
					.intro-body
						img(src="../img/intro-img.jpg" alt="")
						.intro-body-content
							h3 Create a beautiful in your house 
							br
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse magni sint nam reprehenderit aut accusantium, quisquam eius veritatis? Nam ullam quibusdam veritatis necessitatibus quos fugit obcaecati nesciunt et assumenda repellendus!
							br
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae est, nemo quaerat sint dolor, distinctio similique quos quod eligendi cum non quibusdam tempora laudantium laborum sequi molestiae iusto? Tempore Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium culpa eos quo amet laboriosam tenetur sit molestiae sequi. Neque. Lorem, ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, sapiente.
					.intro-footer 
						br
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit doloremque voluptate vel quod? Corrupti quibusdam magnam iure voluptatum consectetur rerum hic atque ducimus sunt eum a enim tempora fugiat saepe est facilis suscipit, nam minima nulla quidem repudiandae necessitatibus commodi laboriosam modi! Similique earum laborum vitae tempora error officiis, consequatur, fuga expedita, voluptatum sequi mollitia iure doloribus iste aut praesentium quaerat impedit. Et pariatur eaque omnis, numquam consectetur, nemo odio esse atque mollitia cumque dolorem asperiores eos cum dolores. A delectus tenetur ad repellat eligendi sapiente nesciunt odit! Rerum quod.
						br
						p lorem sit amet consectetur adipisicing elit. Fuga labore distinctio nam tenetur ad, libero officiis vitae nesciunt blanditiis autem enim, dicta ratione, quasi mollitia nisi aut ipsa atque voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, temporibus.
					.intro-poster
						.background-img
							.txt-wrap
								h3 Life style creation 
								br
								p.prefix Sense of Ritual
								p Lorem ipsum dolor sit amet consectetur, 	adipisicing elit. Earum repudiandae 	laboriosam quibusdam repellendus cumque 	aliquid quo ipsa totam, enim culpa?
								br
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, reiciendis. Cumque dolores, quo molestiae delectus tempore, voluptas aspernatur veritatis dignissimos itaque rem nemo nobis. Voluptates tenetur mollitia expedita quas dolorem!
								br
								a(href="#") Find more 
				.specification
					.specification-wrap
						h2 Specification
						p Lorem ipsum dolor sit amet.
						.list
							div
								p.title Product name
								p The Wizard of Oz
							div
								p.title Weilgt
								p 7.5kg
							div 
								p.title Size
								p 25x17cm
							div
								p.title Material
								p Ceramics
		.carousel
			.prev PREV
			.next NEXT
			.title 
				h2 You may also like
				p Related products 
			.row 
				.col 
					img(src="../img/pic1.jpg" alt="")
					p Home Essentials 
					h4.info Rose Salt Lamp
					.price-block 
						.price
							.icon-tag
							span NT: 29,500
						.icon-cart
				.col 
					img(src="../img/pic2.jpg" alt="")
					p Home Essentials 
					h4.info Zebra Puzzle Clocl
					.price-block 
						.price
							.icon-tag
							span NT: 29,500
						.icon-cart
				.col 
					img(src="../img/pic3.jpg" alt="")
					p Home Essentials 
					h4.info Tea Ceremony
					.price-block 
						.price
							.icon-tag
							span NT: 29,500
						.icon-cart
				.col 
					img(src="../img/pic4.jpg" alt="")
					p Home Essentials 
					h4.info Hand Coffee Maker
					.price-block 
						.price
							.icon-tag
							span NT: 29,500
						.icon-cart
		.footer
			.menu 
				ul 
					li
						a(href="#") EXERIENCE  
					li
						a(href="#") BOOKING  
					li
						a(href="#") SHOPPING  
					li
						a(href="#") VIP  
					li
						a(href="#") CONTACT  
					li
						a(href="#") FAQ  
			.others
				ul 
					li 
						a(href="#") Gift Card 
					li 
						a(href="#") VIP Service
					li 
						a(href="#") Shopping Service 
					li 
						a(href="#") Payment Options
					li 
						a(href="#") Returns & Exchanges
			.bottom
				.icon-block 
					.link
						ul 
							li 
								a(href="#") Copyright 
							li 
								a(href="#") Privacy Policy
							li 
								a(href="#") Production
					.icon
						a(href="#").icon-wechat
						a(href="#").icon-line 
						a(href="#").icon-youtube-square
						a(href="#").icon-facebook
						a(href="#").icon-instagram
						a(href="#").icon-twitter 
				.contact
					p Email assress...
					a(href="#") SUBSCRIBE
				.copyright
					div
						p COPYRIGHT ©THE LALU HOTEL,LTD.
						P ALL RIGHTS RESERVED. DESIGNED BY WDD.
			.top-scroll
				div
					span 
					p TOP

