doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
		LINK(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
		link(rel="stylesheet" href="../icomoon/style.css")
		link(rel="stylesheet" href="../dist/all.css")

	body 
		.navbar
			.select
				.logo
					span.icon-logo
				a(class="find-hotel" href="javascript:;") Find A Hotel
					span.triangle
				a(class="language" href="javascript:;") English
					span.triangle
			.menu
				a(href="javascript:;") STORY 
				a(href="javascript:;") EXPERIENCE
				span.icon-member
				span.icon-cart
				span.icon-search
				.circle
					.inside
						.square
						.square
					.inside
						.square
						.square
			.hamburger
				.circle
					.inside
						.square
						.square
					.inside
						.square
						.square
		.container 
			a.breadcrumb 
				span Back
				span New Arrival
			.wrap 
				.photo
					.product-img
						img(src="../img/vase.jpg" alt="")
					.page
						span PREV
						span NEXT
						span.page-num 0 / 6
				.info
					.info-block
						.favor
							span.icon-favorite-line
								span.path1
								span.path2
							span Wishlist 
							span.icon-share
						.content
							span.category Landcape series
							h1 The Wizard of Oz 
							p.txt Lorem ipsum dolor sit amet consectetur adipisicing 	elit. Expedita, doloremque. Recusandae culpa nam enim 	ipsa. Eum ea eligendi 
							p.member-price Member price
							p.price NT $44,900
								span NT $45,900
						.color-size 
							.color 
								div
									img(src="../img/color-green.jpg" alt="" class="active")
								div
									img(src="../img/color-blue.jpg" alt="")
								div
									img(src="../img/color-purple.jpg" alt="")
								div
									img(src="../img/color-red.jpg" alt="")
							.size
								.active S
								div M
								div L
								div XL
						.count-block 
							p Quantity
							.count
								.btn
									.icon-less
								.num 1
								.btn
									.icon-plus
						.info-btn 
							a(href="javascript:;") Gift Service
							a(href="javascript:;") ADD TO CART
						.accordion-block
							.accordion.promotions
								.title
									div 
										.icon-tag
										p Promotions 
									div
										span 
								.collapse 
									p Free shipping for orders over NT $3000
									a(href="javascript:;") 
							.accordion
								.title
									div 
										p Delivary Restrictions 
									div
										span
								.collapse 
									p At this stage, we are unable to ship the products to the followingcountries: New Zealand, Romania, South Africa, Sri Lanka, Turkey, Turks and Caicos Islands. For individual guidance on where the fragrances ship to, please email our Customer Care team:
									p service@thelalu.com
							.accordion
								.title
									div 
										p Precautions
									div
										span
								.collapse 
									ul 
										li
											p This product is purely handmade and retains the texture of the hand. Those who accept it can place an order.
										li 
											p Some products may have a slight drop due to the firingprocess, environment and other factors, which is normal.
			.article
				.menu#int
					p(data-name="int")  Introduction  
					p(data-name="spe")  Specification 
					p(data-name="rel") Related Products
				.intro
					.title
						h2 Introduction
						p Lorem ipsum dolor sit amet.
					.content
						img(src="../img/intro-img.jpg" alt="")
						.txt
							h3 Create a beautiful in your house 
							br
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse magni sint nam reprehenderit aut accusantium, quisquam eius veritatis? Nam ullam quibusdam veritatis necessitatibus quos fugit obcaecati nesciunt et assumenda repellendus!
							br
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae est, nemo quaerat sint dolor, distinctio similique quos quod eligendi cum non quibusdam tempora laudantium laborum sequi molestiae iusto? Tempore Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium 
					.txt-footer
						br
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit doloremque voluptate vel quod? Corrupti quibusdam magnam iure voluptatum consectetur rerum hic atque ducimus sunt eum a enim tempora fugiat saepe est facilis suscipit, nam minima nulla quidem repudiandae necessitatibus commodi laboriosam modi! Similique earum laborum vitae tempora error officiis, consequatur, fuga expedita, voluptatum sequi mollitia iure doloribus iste aut praesentium quaerat impedit. Et pariatur eaque omnis, numquam consectetur, nemo odio esse atque mollitia cumque dolorem asperiores eos cum dolores. A delectus tenetur ad repellat eligendi sapiente nesciunt odit! Rerum quod.
						br
						p lorem sit amet consectetur adipisicing elit. Fuga labore distinctio nam tenetur ad, libero officiis vitae nesciunt blanditiis autem enim, dicta ratione, quasi mollitia nisi aut ipsa atque voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, temporibus.
					.poster
						.background-pic
							.txt-wrap
								h3 Life style creation 
								br
								p.prefix Sense of Ritual
								p Lorem ipsum dolor sit amet consectetur, 	adipisicing elit. Earum repudiandae 	laboriosam quibusdam repellendus cumque 	aliquid quo ipsa totam, enim culpa?
								br
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, reiciendis. Cumque dolores, quo molestiae delectus tempore, voluptas aspernatur veritatis dignissimos itaque rem nemo nobis. Voluptates tenetur mollitia expedita quas dolorem!
								br
								a(href="javascript:;") Find more 
				.specification#spe
					.content
						h2 Specification
						p Lorem ipsum dolor sit amet.
						.list
							div
								p.title Product name
								p The Wizard of Oz
							div
								p.title Weilgt
								p 7.5kg
							div 
								p.title Size
								p 25x17cm
							div
								p.title Material
								p Ceramics
		.carousel#rel
			h2 You may also like...
			p Related products
			.swiper.mySwiper
				.swiper-wrapper
					.swiper-slide
						img(src="../img/pic1.jpg" alt="")
						p Home Essentials 
						h4.info Rose Salt Lamp
						.price-block 
							.icon-tag
							.price
								span NT 29,500
							.icon-cart
					.swiper-slide
						img(src="../img/pic2.jpg" alt="")
						p Home Essentials 
						h4.info Rose Salt Lamp
						.price-block 
							.icon-tag
							.price
								span NT 45,900
								span NT 44,500
							.icon-cart
					.swiper-slide
						img(src="../img/pic3.jpg" alt="")
						p Home Essentials 
						h4.info Rose Salt Lamp
						.price-block 
							.icon-tag
							.price
								span NT 45,900
								span NT: 44,500
							.icon-cart
					.swiper-slide
						img(src="../img/pic4.jpg" alt="")
						p Home Essentials 
						h4.info Rose Salt Lamp
						.price-block 
							.icon-tag
							.price
								span NT: 29,500
							.icon-cart
			.swiper-button-next
				span
				p next
			.swiper-button-prev
				span
				p prev
		</div>
		.footer
			.menu 
				ul 
					li
						a(href="javascript:;") EXERIENCE  
					li
						a(href="javascript:;") BOOKING  
					li
						a(href="javascript:;") SHOPPING  
					li
						a(href="javascript:;") VIP  
					li
						a(href="javascript:;") CONTACT  
					li
						a(href="javascript:;") FAQ  
			.others
				ul 
					li 
						a(href="javascript:;") Gift Card 
					li 
						a(href="javascript:;") VIP Service
					li 
						a(href="javascript:;") Shopping Service 
					li 
						a(href="javascript:;") Payment Options
					li 
						a(href="javascript:;") Returns & Exchanges
			.bottom
				.icon-block 
					.link
						ul 
							li 
								a(href="javascript:;") Copyright 
							li 
								a(href="javascript:;") Privacy Policy
							li 
								a(href="javascript:;") Production
					.icon
						a(href="javascript:;").icon-wechat
						a(href="javascript:;").icon-line 
						a(href="javascript:;").icon-youtube-dark
						a(href="javascript:;").icon-facebook
						a(href="javascript:;").icon-instagram
						a(href="javascript:;").icon-twitter 
				.contact
					p Email assress...
					a(href="javascript:;") SUBSCRIBE
				.copyright
					div
						p COPYRIGHT ©THE LALU HOTEL,LTD.
						P ALL RIGHTS RESERVED. DESIGNED BY WDD.
			.go-top
				div
					span 
				div
					p TOP



	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous')
	script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
	script(src="../dist/index.js")
